<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>229629274887-ha20pa18n2mg52cmdmfpi711ird8sruk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.229629274887-ha20pa18n2mg52cmdmfpi711ird8sruk</string>
	<key>API_KEY</key>
	<string>AIzaSyBkI5kPlFo04tcV9BGhxYBKoYr5caWz7Lk</string>
	<key>GCM_SENDER_ID</key>
	<string>229629274887</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.toucheapp.toucheApp</string>
	<key>PROJECT_ID</key>
	<string>bot-administration</string>
	<key>STORAGE_BUCKET</key>
	<string>bot-administration.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:229629274887:ios:7db418cc0589da3372f3a2</string>
</dict>
</plist>